.calc{
    background-color: black;
    color: yellow;
    font-size: 3em;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.5s ease;
    
}
.calc:hover{
   
  transform: scale(1.15,1.15);
  background-color: hsl(0, 100%, 70%);


}
.calc:active{
    transform:rotate(180deg) ;
}
.box{
    border: 2px solid;
    width: 700px;
    height: 150px;
    margin-bottom: 20px;
    font-size: 5em;
    overflow-x: scroll;
}
#plus{
    color: green;
}
#minus{
    color: red;
}
#divide{
    color: blue;
}
#multiply{
    color: orange;
}
#answer::before,#answer::after{
    content: "⭐";
    width: 50px ;
    height:50px ;
}
#parenthesisc,#parenthesiso{
color: blueviolet;
}
#clear{
    color: brown;
}
#equal{
    color: hsl(39, 100%, 80%);
}
body{
    background-color: grey;
}
#decimal{
    color: hsl(8, 100%, 70%);
}





